.mensaje{
    color:aliceblue;
    background-color: rgb(10, 100, 50);
    font-family: system-ui, serif;
    font-weight: 300;
    height: 100px;
}

.tablaNombre {
  border: 2px solid gray;
  border-collapse: collapse;
  text-align: center;
  color: transparent;
}

th{
  width: 3rem;
  height: 3rem;
  border: 2px solid gray;
  font-size: 1.5rem;
}

th:hover{
  background-color: rgb(103, 199, 255);
  color: aliceblue;
}
